@use "../../scss/variable.scss" as colors;

.error_page{
    color: colors.$color-primary;
    text-align: center;

    h1{
        font-size: 160px;
        margin-bottom: 0.5rem;
    }

    h2{
        font-size: 38px;
        font-weight: 400;
    }
    
    a{
        color: colors.$color-primary;
    }
}