@use "../scss/variable.scss" as colors;

.grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  background-color: #F7F7F7;
  padding: 50px;
  border-radius: 25px;
  width: 85%;
  margin: 0 auto;
    & > * {
      width: 30%;
      height: 340px;
      margin-bottom: 35px;
    }
    }

    @media screen and (width <=1272px) {
      .grid{
        gap: 25px;
        padding: 25px 15px ;
      }

      .grid a{
        width: 100%;
      }
    }

    @media screen and (width <=768px) {
      .grid{
        justify-content: center;
        background-color: colors.$background-dark-responsive;
        padding: 0rem;
        max-width: 100%;
      }
      .grid a{
        width: 100%;
        max-width: 100%;
      }
      
    }
  
