@use "../scss/variable.scss" as colors;

.apartment_header{
    display: flex;
    margin-bottom: 2rem;
    gap: 1rem;
    @media screen and (width <= 768px) {
        flex-direction: column;
    }
        
    
    .apartment_title{
        flex-grow: 1;
    }
    
    .apartment__owner{
        display: flex;
        flex-direction: column;
        @media screen and (width <= 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .apartment_owner__details{
        display: flex;
        gap: 0.5rem;
        @media screen and (width <= 768px) {
            order: 1;

        }
    }

    .apartment_owner__badge img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: colors.$background-dark;
    }

    .apartment_owner__stars{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        font-size: 2rem;
        color: colors.$background-dark;

        .on{
           color: colors.$color-primary;
        }

     
    }
    h3{
        margin-block: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 400;
    }
}

 .apartment_tags{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,150px));
    gap: 1rem;
    span{
        background-color: colors.$color-primary;
        color: colors.$color-tertiary;
        padding: 0.5em 1em;
        border-radius: .7rem;
        text-align: center;
    }

    }
