@use "../scss/variable.scss" as colors;

.grid{
    background-color: colors.$background-dark;
    border-radius: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 3rem;
    max-width: 57%;
    width: 100%;
    & > * {
      width: 100%;
      max-width: 20rem;
    }
    }
  
    @media screen and (width <=768px) {
      .grid{
        justify-content: center;
        background-color: colors.$background-dark-responsive;
        padding: 0rem;
        max-width: 100%;
        width: 100%;
      }
      .grid a{
        width: 100%;
        max-width: 100%;
      }
      
    }
  
