@use "../scss/variable.scss" as colors;

.description_panel{
    margin-bottom: 1rem;
    flex-basis: 50%;
    overflow: hidden;
    p{
        margin-block: 0;
    }
    .description_title{
        background-color: colors.$color-primary;
        color: colors.$color-tertiary;
        padding: 0.5em 1em;
        border-radius: .7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i{
            font-size: 2rem;
            cursor: pointer;
        }
    }
    .description_content {
        background-color: colors.$background-light;
        color: colors.$color-primary;
        padding: 1rem;
        border-radius: 0.7rem;
        position: relative;
        top: -0.3rem;
        z-index: -1;
        transition: transform 0.3s ease-in-out;
        &.visible {
          transform: translateY(0);
        }
        &.hidden {
          transform: translateY(-100%);
        }
      }

}