$color-primary: #ff6060;
$color-secondary: #863535;
$color-tertiary: #f7f7f7;
$background-dark:  rgba(0, 0, 0, 0.119);
$background-light: #f6f6f6;
$background-dark-responsive: white;
$footer-background-color: black;