@use "../scss/variable.scss" as colors;
.banner {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url("../../images/Acceuil.jpg");
    min-height: 140px;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: colors.$color-tertiary;
    margin-bottom: 2rem;
    max-width: 85%;
    &::before {
      position: absolute;
      border-radius: 2rem;
      content: "";
      inset: 0;
      opacity: 0.5;
    }
  }

  .banner2 {
    position: relative;
    background-position: center;
    background-size: cover;
    padding-inline: 2rem;
    background-image: url("../../images/A_propos.jpg");
    min-height: 140px;
    margin: auto;
    border-radius: 2rem;
    display: grid;
    place-items: center;
    color: colors.$color-tertiary;
    margin-bottom: 2rem;
    max-width: 100%;
    &::before {
      position: absolute;
      border-radius: 2rem;
      content: "";
      inset: 0;
      opacity: 0.5;
    }
  }


